**/bin
.DS_Store
.ipynb_checkpoints
__pycache__
.idea
.vscode
.mypy_cache
.env
Debug/
Release/
**/build
**/lightning-log*
**/lightning_log*
**/node_modules
**/target
**/wandb
**/build
**/dist
**/*.egg-info
**/bazel-bin
**/bazel-out
**/bazel-testlogs
**/*.dyn_hi
**/*.dyn_o
**/*.hi
**/*.o
**/dist-newstyle
**/node_modules

